/.zsh/bindkeys.zsh.zwc
/.zsh/colors.zsh.zwc
/.zsh/command_coloring.zsh.zwc
/.zsh/completion.zsh.zwc
/.zsh/exports.zsh.zwc
/.zsh/functions.zsh.zwc
/.zsh/history.zsh.zwc
/.zsh/prompt.zsh.zwc
/.zsh/setopt.zsh.zwc
/.zsh/zsh_hooks.zsh.zwc
/.zsh/cache/
